@{
    ViewBag.Title = "EditCart";
}
@model Satchpack.Models.ShoppingCart
<link href="@Url.Content("~/Content/css/Checkout.css")" type="text/css" rel="Stylesheet" />
<link href="@Url.Content("~/Content/css/CheckoutStyle.css")" type="text/css" rel="Stylesheet" />
<div id="ProductsSection">
    <h2>Checkout</h2>
    <table id="productsCheckoutTable" width="800">
        <tr>
            <th>
                Product
            </th>
            <th>
                Description
            </th>
            <th>
                Item Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Color
            </th>
        </tr>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td id="checkoutProduct">
                    @item.Product.Name
                </td>
                <td id="checkoutDescription">
                    @item.Product.Description
                </td>
                <td id="checkoutPrice">
                    @String.Format("{0:C}", item.Product.Price)
                </td>
                <td id="checkoutQuantity">
                    @item.Quantity
                </td>
                <td id="checkoutTotal">
                    @item.Product.Color
                </td>
            </tr>
        }
    </table>
    @using (Html.BeginForm("Checkout", "Checkout"))
    {
        <div id="cartFinals">
            <ul id="shoppingCartTotal">
                <li id="checkoutSubTotal">Subtotal: $@Model.SubtotalCost</li>
                <li id="checkoutShipping">Shipping: $@Model.ShippingCost</li>
                <hr id="rule" />
                <li id="checkoutTotalCost">Total: $@Model.TotalCost</li>
            </ul>
            <input id="PayPayCheckoutBtn" type="submit" value="" />
        </div>
    }
</div>
