@model Satchpack.Models.ShoppingCart
<div class="navbar">
    <a class="navbar_Logo" href="#">
        <label class="satchpackLogo">
        </label>
    </a>
    <div class="navbar-inner">
        <ul class="nav">
            <li><a id="homePortal" href="@Href("/")">Home</a></li>
            <li class="divider-vertical"></li>
            <li><a id="storePortal" href="@Href("~/ShoppingCart/Product")">Store</a></li>
            <li class="divider-vertical"></li>
            <li><a id="contactUsPortal" href="@Href("/Home/ContactUs")">Contact Us</a></li>
            <li class="divider-vertical"></li>
            <li><a id="faqPortal" href="@Href("/Home/Faq")">FAQ</a></li>
        </ul>
    </div>
    <div class="navbar_cartLogo">
        <a href="@Href("~/ShoppingCart/EditCart")">
            <label class="cart">
            </label>
            <b id="cartTotal">@String.Format("{0:C}", Model.TotalCost)</b>
            <br />
            <b id="itemCount">@Model.ItemCount items</b></a>
    </div>
    <div id="navbar_checkout">
        <a href="@Href("~/ShoppingCart/EditCart")">Checkout</a>
    </div>
</div>
