@{
    ViewBag.Title = "Satchpack.com ~ Satchpack";
}
@model Satchpack.Models.AvailableProducts

<link href="@Url.Content("~/Content/css/ShopStyle.css")" type="text/css" rel="Stylesheet" />

<script type="text/javascript">
    $(document).ready(
        function ()
        {
            $("#productTabs").tabs();

            $('ul.nav li').removeClass('active');
            $('#storePortal').parent().addClass('active');

            $('#userColor').text($('.colorSelected input').attr('value'));

            $('.colorThumb').click(
                function ()
                {
                    $('.colorThumb').removeClass('colorSelected');
                    $(this).addClass('colorSelected');
                    var selectedColor = $(this).children()[0].value;
                    $('#userColor').text(selectedColor);

                    $.ajax(
                    {
                        url: '@Url.Action("GetProductIdByColor", "ShoppingCart")',
                        data: { color: selectedColor },
                        type: 'POST',
                        success: function (data)
                        {
                            $("#productId").attr("value", data);
                        }
                    });
                }
            );


        }
    );
</script>
@using (Html.BeginForm("AddToCart", "ShoppingCart"))
{
<div id="shopTopSection">
    <div id="shopTopHeader">
        <h2>@Model.Products.First().Product.Name</h2>
    </div>
    <div id="shopLeft">
        <label id="productViewDefault" class="bigSatchpack"></label>
        <div id="productThumbnailsSection" class="full-width">
            <label id="productViewOne" class="productThumb"></label>
            <label id="productViewTwo" class="productThumb"></label>
            <label id="productViewThree" class="productThumb"></label>
            <label id="productViewFour" class="productThumb"></label>
            <label id="productViewFive" class="productThumb"></label>
            <label id="productViewSix" class="productThumb"></label>
        </div>
        <div id="productColorSection" class="full-width">
            <label id="productColorOne" class="radiusBorder colorThumb colorSelected">
                <input type="hidden" value="Red" />
            </label>
            <label id="productColorTwo" class="radiusBorder colorThumb">
                <input type="hidden" value="Silver" />
            </label>
            <label id="productColorThree" class="radiusBorder colorThumb">
                <input type="hidden" value="Blue" />    
            </label>
            <label id="productColorFour" class="radiusBorder colorThumb">
                <input type="hidden" value="Purple" />
            </label>
            <label id="productColorFive" class="radiusBorder colorThumb">
                <input type="hidden" value="Gold" />    
            </label>
            <label id="productColorSix" class="radiusBorder colorThumb">
                <input type="hidden" value="Oil Green" />
            </label>
            @*<label id="productCustomColors" class="radiusBorder colorThumb"></label>*@
        </div>    
    </div>
    <div id="shopMiddle">
        <div>
            <h3>Overview</h3>
        </div>
        <table id="productFeaturesTable">
            <tr>
                <td>Laptop Compartment Dimensions:</td>
                <td>15.25" x 10.5" x 2"</td>
            </tr>
            <tr>
                <td>Size:</td>
                <td>Large</td>
            </tr>
            <tr>
                <td> Dimensions:</td>
                <td>20" x 13" x 9.5"</td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td>@Model.Products.First().Product.Weight oz</td>
            </tr>
            <tr>
                <td>Capacity:</td>
                <td>2015 cu. in.</td>
            </tr>
            <tr>
                <td>Material:</td>
                <td>420D nylon / 1680 Ballistics</td>
            </tr>
            <tr>
                <td>Color</td>
                <td>
                    <span id="userColor"></span>
                </td>
            </tr>
            <tr>
                <td>Warranty:</td>
                <td><a href="#">See warranty document.</a></td>
            </tr>
        </table>
    </div>
    <div id="shopRight">
        <div>
            <h3>Pricing</h3>
        </div>
        <label id="pricingText" class="text red">Our price:</label>
        <br />
        <div id="priceTagContainer">
            <label class="moneySign red">$</label>
            <label class="price red">@string.Format("{0:0.00}", Model.Products.First().Product.Price)</label>
            <label class="text red">USD</label>
        </div>

        <div id="cartBtn" class="radiusBorder">
        <input name="productId" id="productId" value="@Model.Products.First().Product.Id" type="hidden" />
        <input type="submit" value="Add to Cart" />
        </div>     
    </div>
</div>
}
<div id="shopBottomSection">
    <div id="productTabs">
        <ul>
            <li>
                <a href="#productPhotoGallery">
                    <label class="photosIcon tabThumbnail"></label>
                    Photo Gallery
                </a>
            </li>
            <li>
                <a href="#productVideoGallery">
                    <label class="videosIcon tabThumbnail"></label>                
                    Video Gallery
                </a>
            </li>
        </ul>
        <div id="productPhotoGallery">
            <label class="comingSoon">Content to be posted soon.</label>
        </div>
        <div id="productVideoGallery">
            <label class="comingSoon">Content to be posted soon.</label>        
        </div>
    </div>    
</div>