@{
    ViewBag.Title = "ReviewTransaction";
}

@model Satchpack.Models.TransactionDetails

<h2>Order Summary</h2>

<div id="orderSummary">
    <p>Please review the following order: </p>
    
    <h3>Customer Info</h3>
    <label>First name: <span>@Model.Invoice.Customer.FirstName</span></label>
    <label>Last name: <span>@Model.Invoice.Customer.LastName</span></label>
    <label>Address 1: <span>@Model.Invoice.Customer.Address1</span></label>
    <label>Address 2: <span>@Model.Invoice.Customer.Address2</span></label>
    <label>City: <span>@Model.Invoice.Customer.City</span></label>
    <label>State: <span>@Model.Invoice.Customer.State</span></label>
    <label>Zip: <span>@Model.Invoice.Customer.PostalCode</span></label>
    <label>Country: <span>@Model.Invoice.Customer.Country</span></label>
    <label>Email: <span>@Model.Invoice.Customer.Email</span></label>
    <label>Phone: <span>@Model.Invoice.Customer.Phone</span></label>

    <label>Order total: <span>@Model.Invoice.InvoiceTotal</span></label>

    
</div>

