<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/Reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/MasterStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/NavigationBar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/MasterStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Footer.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery-ui-1.8.24/jquery-ui-1.8.24.custom.css")" rel="stylesheet" type="text/css" />
    
    <!-- Script libraries -->

    <script src="@Url.Content("~/Scripts/javascript/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascript/jquery-ui-1.8.24.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascript/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/javascript/bootstrap.min.js")" type="text/javascript"></script>

    <!-- Page-related scripts -->
    
    <script src="@Url.Content("~/Scripts/javascript/pageScripts/masterScript.js")" type="text/javascript"></script>

</head>
<body>
    <div id="wrapper" class="boxShadow">
        @NavigationBar.createNav()
        @RenderBody()
        @Footer.createFooter()
    </div>
</body>
</html>
