<!DOCTYPE html>

<html>



<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/Reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/NavigationBar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/Footer.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/javascript/jquery-1.8.2.min.js")" type="text/javascript"></script>
</head>

<body>
    @NavigationBar.createNav()
    @RenderBody()
    @Footer.createFooter()
</body>
</html>
