@{
    ViewBag.Title = "Satchpack.com ~ Home";
}
<link href="@Url.Content("~/Content/css/HomeStyle.css")" type="text/css" rel="Stylesheet"/>
<script src="@Url.Content("~/Scripts/javascript/jquery.carouFredSel-6.0.2.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(
        function ()
        {
            $('ul.nav li').removeClass('active');
            $('#homePortal').parent().addClass('active');

            $("#mainSection ul").caroufredsel(
            {
                pagination: "#pagSection",
                auto: true,
                scroll:
                    {
                        items: null,
                        fx: "fade",
                        easing: "linear",
                        pauseOnHover: true,
                        duration: 1100
                    },
                direction: "down",
                pauseonhover: true
            });
        }
    );
</script>

<div id="mainSection" class="radius shadow">
    <ul>
        <li>
            <img src="@Url.Content("~/Content/images/satchpack1.JPG")" class="mainPhotos" alt="satchpack1" />
        </li>
        <li>
            <img src="@Url.Content("~/Content/images/satchpack2.JPG")" class="mainPhotos" alt="satchpack2" />
        </li>
        <li>
            <img src="@Url.Content("~/Content/images/satchpack3.JPG")" class="mainPhotos" alt="satchpack3" />
        </li>
        <li>
            <img src="@Url.Content("~/Content/images/satchpack4.JPG")" class="mainPhotos" alt="satchpack4" />
        </li>
    </ul>

</div>
<div class="clearfix"></div>
<div id="pagSection" class="pager"></div>

<div id="shoppingSection" class="radius shadow horSpacing">
    <label class="satchpackStoreSplash splashImg"></label>
</div>
<div id="productSpecsSection" class="radius shadow horSpacing">
    <label class="productFeaturesSplash splashImg"></label>
</div>
<div id="imageGallerySection" class="radius shadow verSpacing horSpacing">
    <label class="imageGallerySplash splashImg"></label>
</div>
<div id="videoGallerySection" class="radius shadow verSpacing">
    <label class="videoGallerySplash splashImg"></label>
</div>
