@{
    ViewBag.Title = "ReviewTransaction";
}
<link href="@Url.Content("~/Content/css/ReviewStyle.css")" type="text/css" rel="Stylesheet" />
@using Satchpack.Models
@model Satchpack.Models.TransactionDetails
<h2 class="orderSummaryHeader">
    Order Summary</h2>
<div id="orderSummary">
    <p>
        Please review the following order:
    </p>
    @using (Html.BeginForm("OrderSubmitted", "Checkout"))
    {
        <div id="shippingInfo">
            <table>
                <tr>
                    <th>
                        Shipping Info
                    </th>
                </tr>
                <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <span>@Html.DisplayTextFor(x => x.Invoice.Customer.FirstName) &nbsp; @Html.DisplayTextFor(x => x.Invoice.Customer.LastName)
                        </span>
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        <span>@Html.DisplayTextFor(x => x.Invoice.Customer.Address1) &nbsp; @Html.DisplayTextFor(x => x.Invoice.Customer.Address2)</span><br />
                    </td>
                </tr>
                <tr>
                    <td>
                        State & Zip:
                    </td>
                    <td>
                        <span>@Html.DisplayTextFor(x => x.Invoice.Customer.City),&nbsp; @Html.DisplayTextFor(x => x.Invoice.Customer.State)
                            &nbsp; @Html.DisplayTextFor(x => x.Invoice.Customer.PostalCode)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Country:
                    </td>
                    <td>
                        <span>@Html.DisplayTextFor(x => x.Invoice.Customer.Country)</span>
                    </td>
                </tr>
            </table>
        </div>
        
        
        
        <div id="contactInfo">
            <table>
                <tr>
                    <th>
                        Contact Info:
                    </th>
                </tr>
                <tr>
                    <td>
                        Email Address:
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => x.Invoice.Customer.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone:
                    </td>
                    <td>
                        @Html.DisplayTextFor(x => x.Invoice.Customer.Phone)
                    </td>
                </tr>
            </table>
        </div>
        <div id="invoiceTotal">
            <table>
                <tr>
                    <th>
                        Total Cost:
                    </th>
                    <td>
                        $@Html.DisplayTextFor(x => x.Invoice.InvoiceTotal)
                    </td>
                </tr>
            </table>
        </div>
        
        @Html.HiddenFor(x => x.Invoice.Customer.FirstName)
        @Html.HiddenFor(x => x.Invoice.Customer.LastName)
        @Html.HiddenFor(x => x.Invoice.Customer.Address1)
        @Html.HiddenFor(x => x.Invoice.Customer.Address2)
        @Html.HiddenFor(x => x.Invoice.Customer.City)
        @Html.HiddenFor(x => x.Invoice.Customer.State)
        @Html.HiddenFor(x => x.Invoice.Customer.PostalCode)
        @Html.HiddenFor(x => x.Invoice.Customer.Country)
        @Html.HiddenFor(x => x.Invoice.Customer.Email)
        @Html.HiddenFor(x => x.Invoice.Customer.Phone)

        @Html.HiddenFor(x => x.Invoice.InvoiceTotal)
        @Html.HiddenFor(x => x.PayerId)
        @Html.HiddenFor(x => x.Token)
        
        <input id="confirmPayment" type="submit" value="Confirm Payment" />
    }

    @using(Html.BeginForm("Checkout", "Checkout"))
    {
        <input id="editDetails" type="submit" value="Edit Details" />
    }

    @using (Html.BeginForm("CancelTransaction", "Checkout"))
    {
        <input id="cancelTransaction" type="submit" value="Cancel Order" />
    }
</div>
